$Cobalt: #0255A3;
$Lochmara: #2D72B3;
$HavelockBlue: #5886BE;
$Eclipse: #3A3A3A;
$Gainsboro: #DEDEDE;
$WhiteLilac: #E7E5E8;
$WhiteSmoke: #F4F4F4;
$Atlantis: #9BCB3C;
$BrandyPunch: #BC813B;
$Nero: #282828;
$NightRider: #303030;
$Whisper: #EEEEEE;
$AliceBlue: #F7F8F9;
$Silver: #BDBDBD;
$Comet: #676777;
$Snow: #FAFAFA;
$Grey: #787878;
$Red: #E80000;