.box-resources-link {
  max-width: 470px;
  width: 100%;
  float: left;
  margin-bottom: 55px;
  img {
    float: left;
    margin-right: 20px;
  }
}

.info-resources-download {
  float: left;
  max-width: 200px;
  text-align: left;

  p {

    margin-top: 50px;

    min-height: 50px;

    font-size: 17px;

  }
}