.thumb-speaker {
  border: 1px solid #f1f1f1;
  border-radius: 100%;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;

  }
}

.info-speaker {
  min-height: 190px;
  margin-left: 10px;
  max-width: 400px;
  width: 100%;
  float: left;
  position: relative;

  p {
    font-size: 18px;
    color: $Cobalt;
    font-weight: 700;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
}